.env
.DS_Store

# Claude Code files
.claude

# Python files
*.o
__pycache__/
*.pyc
.pytest_cache
.venv
.cache
extra/
dist/
*.egg-info/

# JS/TS files
node_modules/

# OpenCode files
.opencode/state/
.playwright-mcp/
opencode.json

# Tabula files
.tabula
.tabula-docker
.tabula-dev
.tabula-prod
tabula.app.lock
global.toml
secrets.json

# Immune files
.immune

# CodeGraph files
.codegraph
