[Unit]
Description=Tabula kernel
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=__TABULA_HOME__/bin/tabula-server
WorkingDirectory=__TABULA_HOME__
Restart=always
RestartSec=5
Environment=TABULA_HOME=__TABULA_HOME__
StandardOutput=append:__TABULA_HOME__/logs/kernel.out.log
StandardError=append:__TABULA_HOME__/logs/kernel.err.log

[Install]
WantedBy=default.target
